<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
   <% messages.forEach((obj) => { %>
  <p><%= obj.text %></p>
  <p><%= obj.user %></p>
  <p><%= obj.added %></p>
<% }) %>
  </body>
</html>
